SmartH2O_SeeAPP/Service References/SmartH2O_Service/SmartH2O_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartH2O_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AlarmInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LowerBound" type="xs:float" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriggerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriggerValue" type="xs:float" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperBound" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmInfo" nillable="true" type="tns:AlarmInfo" />
  <xs:complexType name="ArrayOfParamVals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamVals" nillable="true" type="tns:ParamVals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParamVals" nillable="true" type="tns:ArrayOfParamVals" />
  <xs:complexType name="ParamVals">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Average" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Max" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Min" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamVals" nillable="true" type="tns:ParamVals" />
  <xs:complexType name="ArrayOfAlarmInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmInfo" nillable="true" type="tns:AlarmInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmInfo" nillable="true" type="tns:ArrayOfAlarmInfo" />
</xs:schema>