SmartH2O_SeeAPP/Service References/SmartH2O_Service/SmartH2O_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
  <xs:element name="PutParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutParamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamHourly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamHourlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetParamHourlyResult" nillable="true" type="q1:ArrayOfParamVals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDailyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetParamDailyResult" nillable="true" type="q2:ArrayOfParamVals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamWeeklyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetParamWeeklyResult" nillable="true" type="q3:ArrayOfParamVals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmDailyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetAlarmDailyResult" nillable="true" type="q4:ArrayOfAlarmInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetAlarmIntervalResult" nillable="true" type="q5:ArrayOfAlarmInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>