SmartH2O_SeeAPP/Service References/SmartH2O_Service/SmartH2O_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartH2O_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
      <xsd:import schemaLocation="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartH2O_Service_PutParam_InputMessage">
    <wsdl:part name="parameters" element="tns:PutParam" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_PutParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutParamResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_PutAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:PutAlarm" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_PutAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamHourly_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParamHourly" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamHourly_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParamHourlyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamDaily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParamDaily" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamDaily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParamDailyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamWeekly_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParamWeekly" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetParamWeekly_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParamWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetAlarmDaily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmDaily" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetAlarmDaily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmDailyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetAlarmInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmInterval" />
  </wsdl:message>
  <wsdl:message name="ISmartH2O_Service_GetAlarmInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmIntervalResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartH2O_Service">
    <wsdl:operation name="PutParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/PutParam" message="tns:ISmartH2O_Service_PutParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/PutParamResponse" message="tns:ISmartH2O_Service_PutParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/PutAlarm" message="tns:ISmartH2O_Service_PutAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/PutAlarmResponse" message="tns:ISmartH2O_Service_PutAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParamHourly">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamHourly" message="tns:ISmartH2O_Service_GetParamHourly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamHourlyResponse" message="tns:ISmartH2O_Service_GetParamHourly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParamDaily">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamDaily" message="tns:ISmartH2O_Service_GetParamDaily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamDailyResponse" message="tns:ISmartH2O_Service_GetParamDaily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParamWeekly">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamWeekly" message="tns:ISmartH2O_Service_GetParamWeekly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetParamWeeklyResponse" message="tns:ISmartH2O_Service_GetParamWeekly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmDaily">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetAlarmDaily" message="tns:ISmartH2O_Service_GetAlarmDaily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetAlarmDailyResponse" message="tns:ISmartH2O_Service_GetAlarmDaily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmInterval">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetAlarmInterval" message="tns:ISmartH2O_Service_GetAlarmInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartH2O_Service/GetAlarmIntervalResponse" message="tns:ISmartH2O_Service_GetAlarmInterval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartH2O_Service" type="tns:ISmartH2O_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutParam">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/PutParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutAlarm">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/PutAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParamHourly">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/GetParamHourly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParamDaily">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/GetParamDaily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParamWeekly">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/GetParamWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmDaily">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/GetAlarmDaily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmInterval">
      <soap:operation soapAction="http://tempuri.org/ISmartH2O_Service/GetAlarmInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartH2O_Service">
    <wsdl:port name="BasicHttpBinding_ISmartH2O_Service" binding="tns:BasicHttpBinding_ISmartH2O_Service">
      <soap:address location="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>