SmartH2O_Alarm/App_Data/trigger-rules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alarmcenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alarm">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="rule">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="min" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="max" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="message" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>